---
title: Fawkesley Fest 2018
---

  <section id="front-square-outer" class="cd-fixed-bg cd-bg-2">

      <div id="front-square-inner">
        <h2 class="date">JULY 13-16</h2>
          <table class="fawkesley">
            <tbody>
              <tr>
                <td>F</td>
                <td>A</td>
                <td>W</td>
              </tr>
              <tr>
                <td>K</td>
                <td>E</td>
                <td>S</td>
              </tr>
              <tr>
                <td>L</td>
                <td>E</td>
                <td>Y</td>
              </tr>
            </tbody>
        </table>
        <h3 class="description">A long weekend of celebrations</h3>
      </div>

  </section>

  <section class="cd-scrolling-bg">
    <div class="container-large cd-container">

      <div class="when-where-about col-half">
        <p>When</p>
        <h2>July 13-16</h2>

      </div>

      <div class="when-where-about col-half">
        <p>Where</p>
        <h2>Liverpool</h2>

      </div>

    </div>
    <div class="container-large cd-container">
      <div class="col when-where-about">
        <p>What</p>
        <h2>Festival Programme</h2>
      </div>
    </div>

    <div class="short-programme">
      <div class="container-large cd-container">
        <div class="col-half">
          <h2><%= link_to 'Friday', 'programme/#friday' %></h2>
          <ul>
            <li><%= link_to 'Climb the cathedral tower', 'programme/#climb-the-cathedral-tower' %></li>
            <li><%= link_to 'PICNIC AND GAMES AT SEFTON PARK', 'programme/#picnic-and-games-at-sefton-park' %></li>
            <li><%= link_to 'DINNER AT CRUST', 'programme/#dinner-at-crust' %></li>
            <li><%= link_to 'DRINKS AT EAST AVE', 'programme/#drinks-at-east-ave' %></li>
          </ul>
        </div>

        <div class="col-half">
          <h2><%= link_to 'Saturday', 'programme/#saturday' %></h2>
          <ul>
            <li><%= link_to 'CIVIL CEREMONY ', 'programme/#civil-ceremony' %></li>
            <li><%= link_to 'DRINKS AND SNACKS IN THE GARDEN ', 'programme/#drinks-and-snacks-in-the-garden' %></li>
            <li><%= link_to 'FOOD, DANCE AND PARTY', 'programme/#food-dance-and-party' %></li>
          </ul>
        </div>

      </div>
      <div class="container-large cd-container">
        <div class="col-half">
          <h2><%= link_to 'Sunday', 'programme/#sunday' %></h2>
          <ul>
            <li><%= link_to 'BRUNCH AT EAST AVE', 'programme/#brunch-at-east-ave' %></li>
            <li><%= link_to 'BBQ AT CROSBY BEACH', 'programme/#bbq-at-crosby-beach' %></li>
            <li><%= link_to 'CRAZY GOLF AT JUNGLE RUMBLE', 'programme/#crazy-golf-at-jungle-rumble' %></li>
            <li><%= link_to 'BAR CRAWL', 'programme/#bar-crawl' %></li>
          </ul>
        </div>

        <div class="col-half">
          <h2><%= link_to 'Monday', 'programme/#monday' %></h2>
          <ul>
            <li><%= link_to 'WATERSPORTS IN THE ALBERT DOCK', 'programme/#watersports-in-the-albert-dock' %></li>
            <li><%= link_to 'AFTERNOON TEA AT THE PANORAMIC', 'programme/#afternoon-tea-at-the-panoramic' %></li>
            <li><%= link_to 'BOARD GAMES AT SUGAR AND DICE', 'programme/#board-games-at-sugar-and-dice' %></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
