---
title: Full Programme | Fawkesley Fest
---

<section class="day">
  <div class="cd-fixed-bg cd-bg-1">
    <div class="floating-headline container">
      <h1 id="friday">Friday</h1>
    </div>
  </div>

  <div class="cd-scrolling-bg">
    <div class="container cd-container">

      <h2 id="climb-the-cathedral-tower" class="activity">Climb the cathedral tower</h2>
      <h3 class="time">10.00 - 11.00</h3>
      <%= partial(:open_to_all, :locals => { :text => "Open to all, meet outside the front door at 10am" }) %>

      <p>
      We’ll be climbing the cathedral tower for some beautiful views of the
      city.
      </p>

      <p>
      The tower is 101m high and is accessed via two lifts followed by 108
      stairs. If you don’t like heights this isn’t for you!
      </p>

      <p>
        <i class="fas fa-pound-sign fa-fw"></i> Price: £5.50 / £4.50
      </p>

      <%= partial(:map_link, :locals => { :name => 'Anglican Cathedral', :url => 'https://goo.gl/maps/JQCgGiwyb632' }) %>

      <p>
        <i class="fas fa-location-arrow fa-fw"></i>
        Getting there: The cathedral is a 15 min walk from the city centre or a short taxi ride away.
      </p>

      <p>
        <i class="fas fa-external-link-alt fa-fw"></i>
        <%= link_to 'The tower experience', "http://www.liverpoolcathedral.org.uk/home/visiting-us/a-great-place-to-visit/the-tower-experience.aspx" %>
      </p>

      <h2 id="picnic-and-games-at-sefton-park" class="activity">Picnic and games at Sefton park</h2>
      <h3 class="time">12.00 - 17.00</h3>
      <%= partial(:open_to_all, :locals => { :text => "Open to all, turn up with a picnic" }) %>

      <p>
        Picnic and games in one of our favourite green spaces in Liverpool. Bring your own picnic!
      </p>

      <p>
        We’ll meet at the palm house at 12.00 and find a nice patch of grass
        from there.
      </p>

      <p>
        There’s a <%= link_to 'co-op on nearby Lark Lane', 'https://goo.gl/maps/eXJyJ14fz1H2' %>
        if you want to pick up food en route.
      </p>


      <%= partial(:map_link, :locals => { :name => "Sefton Park palm house", :url => 'https://goo.gl/maps/E4JfMGMPDPu' }) %>

      <!--<p>Text xxx on xxx to find out where we are if you come after that.</p>-->

      <p>
      <i class="fas fa-location-arrow fa-fw"></i>
      Getting there:
      </p>

      <ul>
        <li>The train costs £3.40 return and takes 6 minutes from Liverpool Central or Moorfields to <%= link_to 'St Michaels station', 'https://goo.gl/maps/KEMHE7cuht42' %>. From St Michaels it’s a 15 minute walk to the park via the delightful Lark Lane.</li>
        <li>A taxi to Sefton park from the city centre will cost about £7 one way.</li>
        <li>Driving: There is on street parking <%= link_to 'around the park.', 'https://goo.gl/maps/pKA8aHqKrxp' %></li>
      </ul>

      <!--TODO http://mersitalia.blogspot.co.uk/2010/09/-->

      <h2 id="dinner-at-crust" class="activity">Dinner at Crust</h2>
      <h3 class="time">18.00 - 21.00</h3>

      <%= partial(:come_but_book, :locals => {:text => 'Extra spaces may be available — email paulandlisa@fawkesley.com'}) %>

      <p>We’ll be carb loading on pizza, pasta and prosecco, come help us prepare for our big day!</p>

      <%= partial(:map_link, :locals => { :name => "Crust on Bold Street", :url => 'https://goo.gl/maps/753TrpVwwfS2' }) %>

      <p>
        <i class="fas fa-location-arrow fa-fw"></i>
        Getting there: Walk or taxi to Bold Street, close to Liverpool Central station.
      </p>

      <%= partial(:see_whos_booked) %>


      <h2 id="drinks-at-east-ave" class="activity fully-booked">Drinks at East Ave</h2>
      <h3 class="time">21.00 - 00.00</h3>

      <%= partial(:fully_booked) %>
      <p>Come and join us for drinks at our favourite cafe, turned bar by night, East Avenue Bakehouse. </p>

      <%= partial(:map_link, :locals => { :name => "East Avenue Bakehouse", :url => 'https://goo.gl/maps/PnJQMom7FQR2' }) %>


      <p>
        <i class="fas fa-location-arrow fa-fw"></i>
        Getting there: Walk or taxi to the top of Bold Street, near the bombed out church.
      </p>

      <%= partial(:see_whos_booked) %>


    </div>
  </div>
</section>


<section class="day">
  <div class="cd-fixed-bg cd-bg-2">
    <div class="floating-headline container">
      <h1 id="saturday">Saturday</h1>
    </div>
  </div>

  <div class="container">

    <h2 id="civil-ceremony" class="activity">Civil ceremony</h2>
    <h3 class="time">10:45 - 12.00</h3>
    <%= partial(:fully_booked, :locals => {:text => "Places limited — by invitation" }) %>

    <p>Our ceremony is in the Grand Jury room at St George’s Hall in the city centre.</p>

    <p>
      <b>Please arrive by 10:45 and wait in the Power and Glory Foyer</b> (yes that really is its name!) and wait for Paul to arrive.
    </p>
    <!--TODO <p>Please enter through the xxx entrance on xxx street.</p> -->

    <p>
      We have limited capacity in the Grand Jury room so we can’t fit you all in. You should have heard by email whether to come to the ceremony or <%= link_to 'drinks and snacks in the garden', '#drinks-and-snacks-in-the-garden' %> straight after.
    </p>

    <p>
    <i class="fas fa-map-marker-alt fa-fw"></i> <%= link_to "St. George's Hall", 'https://goo.gl/maps/qAGoHo1fLxJ2' %>
    </p>

    <p>
      <i class="fas fa-location-arrow fa-fw"></i>
      Getting there: St George’s Hall is in the city centre and so you can either walk or taxi there.

      <ul>
        <li>
          Climb up the stairs at the <%= link_to "front of St George's Hall", 'https://goo.gl/maps/Ry8tx3gxzMy' %> then head left to the south end. Follow the red carpet up more steps into the Power And Glory Foyer.
        </li>

        <li>
          If you need to use a lift, use the <%= link_to "Heritage entrance", 'https://goo.gl/maps/KMzqLVF7oV62' %> which is at ground level on St John's Lane/St George's Place, on the south side of the building. The staff will help you take the lift up to the right floor.
        </li>
      </ul>

    </p>


    <h2 id="drinks-and-snacks-in-the-garden" class="activity">Drinks and snacks in the garden</h2>
    <h3 class="time">12.00 - 12.20</h3>
    <%= partial(:open_to_all, :locals => { :text => "Open to all!" }) %>
    <p>We're having a quick photo and snack stop in the beautiful gardens just behind St George’s Hall before we move on to White Wolf.</p>

    <%= partial(:map_link, :locals => { :name => "St. John's gardens", :url => 'https://goo.gl/maps/FCjm6SRSn262' }) %>



    <h2 id="pit-stop-at-white-wolf" class="activity">Pit-stop at White Wolf</h2>
    <h3 class="time">12.45 - 14.00</h3>
    <%= partial(:open_to_all, :locals => { :text => "Open to all!" }) %>
    <p>Come for some cold fizz at White Wolf, our favourite yoga studio who have kindly offered to accommodate us.</p>


    <%= partial(:map_link, :locals => { :name => 'White Wolf Yoga', :url => 'https://goo.gl/maps/jrWh3AyaQxr' }) %>



    <h2 id="food-dance-and-party" class="activity">Food, dance and party</h2>
    <h3 class="time">14.00 - 01.00</h3>
    <%= partial(:open_to_all, :locals => { :text => "Open to all!" }) %>

    <p>
      Come celebrate with us! Please arrive at 2pm so that we can sit down to
      eat at 2.30pm.
    </p>

    <p>We’ll be having a crazy ceilidh so bring shoes that allow you to dance the night away!</p>

    <p>
      Please note, due to the licensing arrangements of our venue, under 18s
      will need to leave by 11pm.
    </p>

    <%= partial(:map_link, :locals => { :name => 'Oh Me Oh My', :url => 'https://goo.gl/maps/VXmDmQrT5Ut' }) %>

    <p>
      <i class="fas fa-location-arrow fa-fw"></i>
      Getting there: We’ll be having a procession en mass from St John’s
      gardens to our party venue, Oh Me Oh My. The walk is flat and will take
      15 minutes, if that’s not your thing (or if it plans to rain cats and dogs)
      then please book a taxi.
    </p>

  </div>
</section>


<section class="day">
  <div class="cd-fixed-bg cd-bg-3">
    <div class="floating-headline container">
      <h1 id="sunday">Sunday</h1>
    </div>
  </div>

  <div class="container">

    <h2 id="crazy-golf-at-jungle-rumble" class="activity">Crazy golf at Jungle Rumble</h2>
    <h3 class="time">12.00 - 14.00</h3>
    <%= partial(:come_but_book, :locals => {:text => 'Extra spaces may be available — ask Lorna (Golf Master)'}) %>

    <p>
      An oldie but a goodie! Our fave crazy golf course in the city.
    </p>

    <p>
      <i class="fas fa-pound-sign fa-fw"></i>
      Golf + a large drink costs £10.
    </p>

    <p>
      <i class="fas fa-location-arrow fa-fw"></i>
      Getting there: Head towards the Odeon in Liverpool ONE, find the escalators then take the <b>stairs</b> or lift, as Jungle Rumble is half-way up.
    </p>


    <%= partial(:map_link, :locals => { :name => 'Jungle Rumble', :url => 'https://goo.gl/maps/hZdR8F8NxJF2' }) %>

    <p>
      <i class="fas fa-external-link-alt fa-fw"></i>
      <%= link_to 'Jungle Rumble website', 'http://junglerumble.co.uk/venues/liverpool/' %>
    </p>

    <%= partial(:see_whos_booked) %>

    <h2 id="bbq-at-west-kirby-beach" class="activity">BBQ at West Kirby Beach</h2>
    <h3 class="time">15.30 - 18.30</h3>
    <%= partial(:open_to_all, :locals => { :text => "Open to all, turn up with BBQ food" }) %>
    <p>
      A beach BBQ on the beautiful Wirral coastline, overlooking the river Dee to North Wales.
    </p>

    <h4>Bring Your Own food and drink</h4>

    <p>We're providing barbecues, plates and wooden forks. Bring your own food and drink.</p>

    <p>It's technically a <b>no alcohol zone so be discreet</b> if you bring booze.</p>

    <p>There is an enormous Morrisons <b> which closes at 4pm</b>. It also has a free ATM and toilets.</p>

    <p>There's a cash-only chippie and ice cream shop by the beach entrance.</p>

    <h4>Toilets</h4>

      <ul>
       <li>There's a public toilet next to the beach which <i>allegedly</i> closes at 17:30</li>
       <li>There's a council <%= link_to 'Leisure centre near the station', 'https://goo.gl/maps/tf8NMAYMpYM2' %> which closes at 20:00</li>
       <li><%= link_to 'The Dee Hotel (Wetherspoons)', 'https://goo.gl/maps/2GAuuBPngbx' %> said it's fine to buy a drink and use their toilet in exchange.</li>
      </ul>

    <%= partial(:map_link, :locals => { :name => 'West Kirby Beach — meeting point.', :url => 'https://goo.gl/maps/BVKudDoFEBM2' }) %>

    <p>
      <i class="fas fa-location-arrow fa-fw"></i>
      Getting there:
    </p>

    <ul>
      <li>Train (recommended): <%= link_to 'Take the 14:35 from Liverpool Central', 'https://traintimes.org.uk/lvc/west-kirby/1435/2018-07-15' %> to <%= link_to 'West Kirby', 'https://goo.gl/maps/qAG8yzGzyW32' %> (£5.20 return). Turn right and follow the signs for a 3 minute walk to the beach.</li>
      <li>Car: 30 minutes from the city centre via the tunnel (£1.80 toll) There is <%= link_to 'pay and display parking', 'https://goo.gl/maps/zx1YJ3CJpzE2' %> next to the beach (£3.50 all day, accepts card) but it's popular.</li>
    </ul>


    <!--============================================================================================================================================-->
    <h2 id="bar-crawl" class="activity">Bar crawl</h2>
    <h3 class="time">22.00 - 00.00</h3>
    <%= partial(:open_to_all, :locals => { :text => "Open to all!" }) %>
    <p>
      Meet us at Furnival's Well at 22.00 to hit a few pubs around Liverpool. Let’s
      start married life as we mean to go on!
    </p>

    <p>
      Here's the rough plan:
    </p>

    <%= partial(:map_link, :locals => { :name => "Furnival's Well on Argyle Street", :url => 'https://goo.gl/maps/CdYWS3ZwfCt' }) %> (private room 22.00 to 23.00)
    <%= partial(:map_link, :locals => { :name => 'The Merchant on Slater street', :url => 'https://goo.gl/maps/R42ZZAECj9v' }) %>
    <%= partial(:map_link, :locals => { :name => 'LEAF on Bold street', :url => 'https://goo.gl/maps/jVsewW2hwNC2' }) %>
    <!--<%= partial(:map_link, :locals => { :name => 'Philharmonic Dining Rooms on Hope street', :url => 'https://goo.gl/maps/CV3xZ5U1U1R2' }) %>-->
    <!--<%= partial(:map_link, :locals => { :name => "Frederick's on Hope street", :url => 'https://goo.gl/maps/x6Q31Uo8MiQ2' }) %>-->

  </div>
</section>

<section class="day">

  <div class="cd-fixed-bg cd-bg-4">
    <div class="floating-headline container">
      <h1 id="monday">Monday</h1>
    </div>
  </div>

  <div class="container">
    <h2 id="watersports-in-the-albert-dock" class="activity">Watersports in the Albert Dock</h2>
    <h3 class="time">10.30 - 12.00</h3>
    <%= partial(:come_but_book, :locals => {:text => 'Extra spaces may be available — ask Jo F (Watersports Master)'}) %>
    <p>
      This is a wonderful way to see the Albert Dock from the water. Lisa will
      be leading a flotilla of paddleboarders and Paul will be heading up the
      flock of kayaks.
    </p>

    <!-- TODO
    <p>
      Please tell xxx on xxx if you’d like to join us and we’ll book you a place.
    </p>
    -->

    <p>Sailing, windsurfing and inflatable aquapark also available.</p>

    <p><b>Bring a change of clothes, you will get wet!</b></p>

    <p>
      <%= partial(:map_link, :locals => { :name => 'Meet at Liverpool watersports centre', :url => 'https://goo.gl/maps/qgXoYsGZQSM2' }) %>
    </p>

    <p>
      <i class="fas fa-location-arrow fa-fw"></i>
      Getting there: 20 minute walk from the city centre or short taxi journey.
    </p>

    <p>
      <i class="fas fa-external-link-alt fa-fw"></i>
      <%= link_to 'Liverpool Watersports Centre activities', 'http://www.liverpoolwatersports.org.uk/activities' %>
    </p>

    <p class="attendees">
    Paddleboarding: Lisa H, Lorna, Oliver, Rachel, Ian, Matt K, Laura H
    </p>

    <p class="attendees">
    Kayaking: Paul, Tim, Sara, Sarah F, John F, David L, Olivia, Phil D, Katie H, Blunt, Henri K, Jenni K
    </p>

    <h2 id="afternoon-tea-at-the-panoramic" class="activity fully-booked">Afternoon tea at the Panoramic</h2>
    <h3 class="time">13.00 - 15.00</h3>

    <%= partial(:fully_booked) %>

    <p>Enjoy spectacular views of the city from the 34th floor of West Tower.</p>

    <p>
      <i class="fas fa-pound-sign fa-fw"></i>
      Price is £22 per person
    </p>

    <%= partial(:map_link, :locals => { :name => 'Panoramic 34', :url => 'https://goo.gl/maps/U6NCwqKvE572' }) %>

    <p>
      <i class="fas fa-external-link-alt fa-fw"></i>
      <%= link_to 'Panoramic website', "http://www.panoramic34.com/" %>
    </p>

    <%= partial(:see_whos_booked) %>


    <h2 id="board-games-at-sugar-and-dice" class="activity">Board games at Sugar and Dice</h2>
    <h3 class="time">16.00 - 19.00</h3>
    <%= partial(:come_but_book, :locals => {:text => 'Extra spaces may be available — ask Meg / Rachel (Games Master)'}) %>
    <p>
      An afternoon of board games, tea and cake to round off our weekend. Sugar and Dice have hundreds of board games and can recommend and help you set up.
    </p>

    <p>
      Highlights are the delicious home-baked cakes, drinks and locally brewed beers too.
    </p>

    <p>
      <i class="fas fa-pound-sign fa-fw"></i>
      Cover fee of £2 per person (£5 maximum) plus food and drink
    </p>


    <!--
    <p>
      Please tell xxx on xxx if you’d like to join us and we’ll book you a place.
    </p>
    -->

    <%= partial(:map_link, :locals => { :name => 'Sugar and Dice', :url => 'https://goo.gl/maps/U6NCwqKvE572' }) %>

    <p>
      <i class="fas fa-location-arrow fa-fw"></i>
      Getting there: It's 3 minutes walk from our house in the city centre.
    </p>

    <p>
      <i class="fas fa-external-link-alt fa-fw"></i>
      <%= link_to 'Sugar and Dice — how it works', "http://sugaranddice.co.uk/how-it-works/" %>
    </p>

    <%= partial(:see_whos_booked) %>

  </div>
</section>
